
<footer class="bg-white m-2 mt-auto flex justify-center items-center">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-4 text-center">
        <hr class="my-4 border-gray-200 sm:mx-auto lg:my-4" />
        <span class="block text-sm text-gray-500">Each click will send an invitation to amirmuz.</span>
        <span class="block text-sm text-gray-500">© 2024 <a href="https://amirmuz.com" class="hover:underline">Amirmuz™</a>. All Rights Reserved.</span>
    </div>
</footer>